# See config/settings.py
DEBUG=true
USE_DUMMY_SERVICES=true

# LLM
OLLAMA_MODEL=phi4-mini:3.8b
OLLAMA_HOST=ollama

# TTS
COQUI_HOST=tts
COQUI_PORT=8020

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=mihra

# PostgreSQL
DB_HOST=db
DB_PORT=5432
DB_USER="postgres"
DB_NAME="postgres"
DB_PASSWORD="password"

# ComfyUI
COMFY_HOST=comfy
COMFY_PORT=8188